---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi 👋</div>
    <div class="text-5xl font-bold">I'm Parul Sharma</div>
    <div class="text-3xl py-3 font-bold" style="color: darkgray;">Bioinformatics Scientist</div>
    <div class="py-2">
      <text class="text-lg">
        <!-- With a PhD in Bioinformatics, Masters in Computational Biology and Bachelors in Biotechnology, I have developed a deep understanding and expertise in analyzing complex biological data.  -->
        I am an Assistant Bioinformatics Scientist at the 
        <b><a href="https://read-lab-confederation.github.io/" style="color: gray;">Emergent Lab</a></b> in Emory University, with 
        <b><a href="https://med.emory.edu/directory/profile/?u=TREAD" style="color: gray;">Dr. Timothy Read</a></b>.
        I completed my PhD in Bioinformatics from the <b><a href="https://sites.google.com/vt.edu/lab-vinatzer/home" style="color: gray;">Vinatzer Lab</a></b> 
        at Virginia Tech, advised by <b><a href="https://spes.vt.edu/faculty-staff/faculty/vinatzer-boris.html" style="color: gray;">Dr. Boris Vinatzer</a></b>.
        <br><br>
        My research focuses on advancing methods for tracking disease outbreaks and study the spread of pathogens. 
        Currently, I am applying my knowledge to study the spread of antimicrobial resistance in clinical pathogens.
        During my PhD, I worked on pathogen identification using genomic and metagenomic sequencing data, for which
        I received the Outstanding PhD Student Award by the <b><a href="https://spes.vt.edu/" style="color: gray;">School of Plant and Environmental Sciences (SPES)</a></b>. 
        <br><br>
        <b style="color: gray;">The goal of my research is to develop innovative bioinformatics tools and pipelines for
        global health security by improving detection, tracking, and understanding of infectious diseases.</b>
        <!-- By contributing to these advancements, I aim to support public health initiatives and mitigate the impact of 
          disease outbreaks on society. -->
          <br><br>
        I am always happy to chat about science and careers with budding researchers. 
        Please feel free to reach out to me with questions or ideas for collaborations. 

      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:parul.sharma2@emory.edu" target="_blank"> Let's connect!</a>
      <!-- <a href="mailto:contact.manuelernestog@gmail.com" class="btn btn-outline ml-5"> Contact</a>-->
    </div>
  </div>
  <!--
  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>



   <HorizontalCard
    title="CuCoders"
    img="https://cucoders.dev/assets/img/cucoders_social.webp"
    desc="Platform to enhance software development in Cuba and support developers and entrepreneurs in their professional career."
    url="https://cucoders.dev/"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Astro Modern Personal Website"
    img="https://github.com/manuelernestog/astro-modern-personal-website/raw/main/public/social_img.png"
    desc="Astro Modern Personal Website Template with Project Section, CV Section, Paginated Blog, RSS Feed, SEO Friendly, Visual themes and Responsive Desing."
    url="https://astro-modern-personal-website.netlify.app/"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="WeekTodo"
    img="https://weektodo.me/weektodo_social_img.webp"
    desc="Free and Open Source Minimalist Weekly Planner and To Do list App for simple and effective people."
    url="https://weektodo.me/"
    badge="FEATURED"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Snapclear"
    img="https://softr-prod.imgix.net/applications/45f4f664-92a2-4e85-93f4-65f6e8c09a63/assets/7ca09075-9361-49eb-8a52-97974ed2a5cd.webp"
    desc="Remove Image Background Offline for Free with AI "
    url="https://www.snapclear.app/"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
-->
</BaseLayout>
