---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Parul Sharma | Publications">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Publications</div>
  </div>
  

  <br>
  <br>
  <div>
    <div class="text-2xl w-full mb-3 mt-5">2024</div>
  </div>
  <HorizontalCard
    title="Genotypic and Phenotypic Analyses Show Ralstonia solanacearum Cool Virulence is a Quantitative Trait Not Restricted to “Race 3 biovar 2”."
    desc="Dewberry, R.J.*, <b>Sharma, P.*</b>., Prom, J.L., Kinscherf, N.A., Lowe-Power, T., Mazloom, R., Zhang, X., Arif, M., Stulberg, M., Heath, L.S. and Eversole, K. <br><i> bioRxiv </i>"
    url="https://doi.org/10.1101/2024.06.13.598915"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="A survey of xylella fastidiosa in the us state of virginia reveals wide distribution of both subspecies fastidiosa and multiplex in grapevine."
    desc="Abdelrazek, S., Bush, E., Oliver, C., Liu, H., <b> Sharma, P.</b>, Johnson, M. A., . . . Vinatzer, B. A. <br><i>Phytopathology </i>"
    url="https://doi.org/10.1094/PHYTO-06-23-0212-R"
  />

  <br>
  <br>
  <div>
    <div class="text-2xl w-full mb-3 mt-5">2023</div>
  </div>
  <HorizontalCard
    title="Genomic delineation and description of species and within-species lineages in the genus pantoea. "
    desc="Crosby, K. C., Rojas, M., <b>Sharma, P.</b>, Johnson, M. A., Mazloom, R., Kvitko, B. H., . . . Heath, L. S. et al. <br><i>Frontiers in Microbiology </i>"
    url="https://doi.org/10.3389/fmicb.2023.1254999"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="The ralstonia research community rejects the proposal to classify phylotype i ralstonia into the new species ralstonia nicotianae."
    desc="Lowe-Power , T*., <b>Sharma, P.*</b> , Alfenas-Zerbini, P., Álvarez, B., Arif, M., Baroukh, C., . . . Cellier, G. et al. <br><i>PhytoFrontiers </i>"
    url="https://doi.org/10.1094/PHYTOFR-06-23-0071-LE"
  />

  <br>
  <br>
  <div>
    <div class="text-2xl w-full mb-3 mt-5">2022</div>
  </div>
  <HorizontalCard
    title="Ice nucleation in a gram-positive bacterium isolated from precipitation depends on a polyketide synthase and non-ribosomal peptide synthetase."
    desc="Failor, K. C., Liu, H., Llontop, M. E., LeBlanc, S., Eckshtain-Levi, N., <b>Sharma, P.</b>, . . . Lefevre, C. et al. <br><i> The ISME Journal</i>"
    url="https://doi.org/10.1038/s41396-021-01140-4"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Investigating plant disease outbreaks with long-read metagenomics: Sensitive detection and highly resolved phylogenetic reconstruction applied to xylella fastidiosa."
    desc="Johnson, M. A., Liu, H., Bush, E.,<b> Sharma, P.</b>, Yang, S., Mazloom, R., . . . Vinatzer, B. A. <br><i>Microbial Genomics </i>"
    url="https://doi.org/10.1099/mgen.0.000822"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Meta analysis of the ralstonia solanacearum species complex (rssc) based on comparative evolutionary genomics and reverse ecology. "
    desc="<b>Sharma, P.</b>, Johnson, M., Mazloom, R., Allen, C., Heath, L., Lowe-Power, T., & Vinatzer, B. <br><i>Microbial Genomics</i>"
    url="https://doi.org/10.1099/mgen.0.000791"
  />

  <br>
  <br>
  <div>
    <div class="text-2xl w-full mb-3 mt-5">2021</div>
  </div>
  <HorizontalCard
    title="Experimental evidence pointing to rain as a reservoir of tomato phyllosphere microbiota."
    desc="Mechan Llontop, M. E., Tian, L., <b>Sharma, P.</b>, Heflin, L., Bernal Galeano, V. A., Haak, D., . . . Vinatzer, B. <br><i>Phytobiomes Journal </i>"
    url="https://doi.org/10.1038/s41396-021-01140-4"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Genetic landscape of rare autoinflammatory disease variants in qatar and middle eastern populations through the integration of whole-genome and exome datasets. "
    desc="<b>Sharma, P.</b>, Jain, A., & Scaria, V. <br><i>Frontiers in Genetics-Applied Genetic Epidemiology </i>"
    url="https://doi.org/10.3389/fgene.2021.631340"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Dalia-a comprehensive resource of disease alleles in arab population. "
    desc="Vatsyayan, A.*, <b>Sharma, P.*</b>, Gupta, S., Sandhu, S., Venu, S. L., Sharma, V., ... Rajab, A. et al. <br><i>PloS one </i>"
    url="https://doi.org/10.1371/journal.pone.0244567"
  />

  <br>
  <br>
  <div>
    <div class="text-2xl w-full mb-3 mt-5">2020</div>
  </div>
  <HorizontalCard
    title="Strain-level identification of bacterial tomato pathogens directly from metagenomic sequences."
    desc="Mechan Llontop*, M. E., <b>Sharma, P.*</b>, Aguilera Flores*, M., Yang, S., Pollok, J., Tian, L., ... Li, S. et al. <br><i>Phytopathology</i>"
    url="https://doi.org/10.1094/PHYTO-09-19-0351-R"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Genome resource: Ralstonia solanacearum phylotype ii sequevar 1 (race 3 biovar 2) strain uw848 from the 2020 us geranium introduction. "
    desc="Roman-Reyna, V., Truchon, A., <b>Sharma, P.</b>, Hand, F. P., Mazloom, R., Vinatzer, B. A., . . . Allen, C. <br><i>Plant disease </i>"
    url="https://doi.org/10.1094/PDIS-06-20-1269-A"
  />

  <br>
  <br>
  <div>
    <div class="text-2xl w-full mb-3 mt-5">2016</div>
  </div>
  <HorizontalCard
    title="Escherichia coli biofilm: Development and therapeutic strategies."
    desc="Sharma, G., Sharma, S., <b>Sharma, P.</b>, Chandola, D., Dang, S., Gupta, S., & Gabrani, R. <br><i> Journal of applied microbiology</i>"
    url="https://doi.org/10.1111/jam.13078"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Landscape of warfarin and clopidogrel pharmacogenetic variants in qatari population from whole exome datasets. "
    desc="Sivadas, A., <b>Sharma, P.</b>, & Scaria, V. <br><i>Pharmacogenomics</i> "
    url="https://doi.org/10.2217/pgs-2016-0130"
  />

  <br>
  <br>
  <div>
    <div class="text-2xl w-full mb-3 mt-5">2014</div>
  </div>
  <HorizontalCard
    title="Microbial removal of arsenic: Mechanisms and applications."
    desc="Dangayach, S., <b> Sharma, P.</b>, Singhai, P., & Gupta, N. <br><i> As. J. Multidis. Study</i>"
    url="#"
  />


  <!--Example of each tile and section: can add images and badges as well!!!!------
    <br>
  <br>
  <div>
    <div class="text-2xl w-full mb-3 mt-5">2014</div>
  </div>
  <HorizontalCard
    title="Microbial removal of arsenic: Mechanisms and applications."
    img="/post_img.webp"
    desc="Dangayach, S., <b> Sharma, P.</b>, Singhai, P., & Gupta, N. <br><i> As. J. Multidis. Study</i>"
    url="#"
    badge="NEW"
  /> -->
</BaseLayout>
